# Unity 기본 디렉토리와 파일
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.apk
*.aab
*.unitypackage

# 메모리 및 레코딩 파일
[Mm]emoryCaptures/
[Rr]ecordings/

# Visual Studio 및 JetBrains Rider 관련 파일
.vs/
.gradle/
[Aa]ssets/Plugins/Editor/JetBrains*
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity 메타 및 임시 파일
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# Addressables 관련
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# 임시 Android Asset
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*


/Assets/Town Constructor 3/Textures/*
/Assets/Town Constructor 3/Scenes/*
